@font-face {
  font-family: 'montserratblack';
  src: url('fonts/montserrat-black-webfont.woff2') format('woff2'),
       url('fonts/montserrat-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratbold';
  src: url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
       url('fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratextrabold';
  src: url('fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
       url('fonts/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratextralight';
  src: url('fonts/montserrat-extralight-webfont.woff2') format('woff2'),
       url('fonts/montserrat-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratmedium';
  src: url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
       url('fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratsemibold';
  src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
       url('fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'source_code_problack';
  src: url('fonts/sourcecodepro-black-webfont.woff2') format('woff2'),
       url('fonts/sourcecodepro-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_code_problack_italic';
  src: url('fonts/sourcecodepro-blackit-webfont.woff2') format('woff2'),
       url('fonts/sourcecodepro-blackit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_code_probold';
  src: url('fonts/sourcecodepro-bold-webfont.woff2') format('woff2'),
       url('fonts/sourcecodepro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_code_probold_italic';
  src: url('fonts/sourcecodepro-boldit-webfont.woff2') format('woff2'),
       url('fonts/sourcecodepro-boldit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_code_proextralight';
  src: url('fonts/sourcecodepro-extralight-webfont.woff2') format('woff2'),
       url('fonts/sourcecodepro-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_code_proXLtIt';
  src: url('fonts/sourcecodepro-extralightit-webfont.woff2') format('woff2'),
       url('fonts/sourcecodepro-extralightit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_code_proitalic';
  src: url('fonts/sourcecodepro-it-webfont.woff2') format('woff2'),
       url('fonts/sourcecodepro-it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_code_prolight';
  src: url('fonts/sourcecodepro-light-webfont.woff2') format('woff2'),
       url('fonts/sourcecodepro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_code_prolight_italic';
  src: url('fonts/sourcecodepro-lightit-webfont.woff2') format('woff2'),
       url('fonts/sourcecodepro-lightit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_code_promedium';
  src: url('fonts/sourcecodepro-medium-webfont.woff2') format('woff2'),
       url('fonts/sourcecodepro-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_code_promedium_italic';
  src: url('fonts/sourcecodepro-mediumit-webfont.woff2') format('woff2'),
       url('fonts/sourcecodepro-mediumit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_code_proregular';
  src: url('fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
       url('fonts/sourcecodepro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
